@import "tailwindcss";

@theme {
  --color-primary: #23a6f0;
  --color-dark: #252b42;
  --color-muted: #737373;
  --color-light-gray: #fafafa;
  --color-soft-gray: #bdbdbd;
  --color-border-light: #ececec;
  --color-success: #23856d;
  --color-alert: #e77c40;

  --color-hover-text: #2a7cc7;

  --color-hero-start: #96e9fb;
  --color-hero-end: #abecd6;
  --color-accent-purple: #977df4;

  --color-shop-overlay: #2d8bc0;

  --font-sans: "Montserrat", sans-serif;
}
